.hexagon {
    background-color: #272727;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    animation: animation 4s linear infinite;
    transition: 0.3s;
    /* clip-path: polygon(X Y, ...) */
} .hexagon:hover {
    background-color: #0f0;
    transition: 0s;
} @keyframes animation {
    0% {
        filter: hue-rotate(0deg);
    } 100% {
        filter: hue-rotate(360deg);
    }
} .hexagon:after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    background-color: #111;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
} .hexagon:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    z-index: 2;
}



#whoAmI {
    /* transform: translateX(100%); */
    animation: horizontalLoop 10s linear infinite;
}

@keyframes horizontalLoop {
    from {
        transform: translateX(0%);
    } to {
        transform: translateX(-100%);
    }
}