/* WIDTH */
.w100 {
    width: 100%;
} .w80 {
    width: 80%;
} .w70 {
    width: 70%;
} .w60 {
    width: 60%;
} .w50 {
    width: 50%;
} .w40 {
    width: 40%;
} .w30 {
    width: 40%;
}

/* RESPONSIVE POSITIONS */
.dflex {
    display: flex;
} .iflex {
    display: inline-flex;
} .jcc {
    justify-content: center;
} .jcsb {
    justify-content: space-between;
} .aic {
    align-items: center;
} .fdc {
    flex-direction: column;
} .fdr {
    flex-direction: row;
}

.hideOutside {
    overflow: hidden;
} * :not(#whoAmI) {
    overflow-x: hidden;
} #minigame {
    overflow-y: hidden;
}

.opa14 {
    opacity: 14%;
}

/* MARGINS */
.p0 {
    padding: 0px;
} .m0 {
    margin: 0px;
} .mt0 {
    margin-top: 0px;
}

.mx2 {
    margin-left: 2px;
    margin-right: 2px;
} .mr2 {
    margin-right: 2px;
} .mr5 {
    margin-right: 5px;
}

.my-13 {
    margin-top: -13px;
} .my2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.py5vh {
    padding-top: 5vh;
    padding-bottom: 5vh;
} .pb5vh {
    padding-bottom: 5vh;
}

/* BACKGROUND */
.bgMg {
    background-color: rgb(224, 224, 224);
    border-style: ridge;
    border-width: 3px;
    border-color: #000;
} .bgBlack {
    background-color: #000;
} .bgDarkGradient {
    background-image: linear-gradient(#000, rgb(33, 33, 33));
} .bgLessDarkerDark {
    background-color: rgb(33, 33, 33);
} .bgTransp {
    background-color: transparent;
} .bgWhite {
    background-color: rgb(224, 224, 224);
}

/* TEXT */
p {
    color: rgb(224, 224, 224);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif
}

.pWhite {
    color: rgb(224, 224, 224);
} .p70px {
    font-size: 70px;
} .p20px {
    font-size: 20px;
} .arialImpact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap;
} .pCenter {
    text-align: center
} .pFullSize {
    font-size: 24vw;
}

.hidden {
    visibility: hidden;
} .visible {
    visibility: visible;
}